<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Nomenclature List</div>

<div class="preview-container">
    <ul th:each="nomInfo : ${paginationNomens}">
        <li><img class="nomen-image"
                 th:src="@{|/nomenImage?id=${nomInfo.id}|}" /></li>
        <li>Code: <span th:utext=${nomInfo.id}></span></li>
        <li>Name: <span th:utext="${nomInfo.name}"></span></li>
        <li>Price: <span th:utext="${#numbers.formatDecimal(nomInfo.price,3,2,'COMMA')}"></span></li>
        <li>
            <a th:href="@{|/buyNomen?id=${nomInfo.id}|}">Buy Now</a>
        </li>
        <!-- For Manager edit Product -->
        <th:block sec:authorize="hasAuthority('ROLE_admin')">
            <li>
                <a style="color:red;"
                   th:href="@{|/admin/nomen?id=${nomInfo.id}|}">Edit Product</a>
            </li>
        </th:block>
    </ul>
</div>

<br/>
<div class="page-navigator" th:if="${paginationNomens.totalPages> 1}">
    <th:block th:each="page : ${paginationNomens.navigationPages}">
        <a th:href="@{|/nomenList?page=${page}|}" th:if="${page != -1}"
           class="nav-item" th:utext="${page}"></a>
        <span class="nav-item" th:if="${page == -1}"> ... </span>
    </th:block>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>