<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	<title>Registration</title>
</head>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<form class="content-center" th:action="@{/registration}" method="POST">
					<div><label><p>Login :   </p><input type="login" name="login"/></label></div>
					<div><label><p>E@mail:   </p><input type="email" name="email"/></label></div>
					<div><label><p>Name:     </p><input type="userName" name="username"/></p></label></div>
					<div><label><p>Password: </p><input type="password" name="password"/> </label></div>
					<div><input type="submit" value="Sign Up"/></div>
					<div><a href="/login">Sign In</a></div>
				</form>
			</div>
		</div>
	</div>
</header>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>